<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no"/>
<link href="css/template10.css" rel="stylesheet" type="text/css" media="screen">
<script type="text/javascript" id="headscript">
window.onload=function(){
	var h1 = document.querySelectorAll("h1")[0];
	var header = document.querySelectorAll("header")[0];
	var body =	document.querySelectorAll("body")[0];
		header.appendChild(h1);
	var content = document.createElement('div');
		content.className = 'container';
		content.innerHTML = body.innerHTML;
		body.innerHTML = '';
		body.appendChild(content);
		document.querySelector("#headscript").remove();
}
</script>
<title>回归线</title>
</head>
<body>
<header>
  <img src="images/template10/header.jpg" scale="1.65">
</header>
<h1>忘记一个女人最好的办法就是把她变成文学</h1>
<address>
<img src="images/template10/logo300x300.png">
<h6>字里行间</h6>
<h5>回归写作的旨趣</h5>
<time data-format="yy/MM/dd">16/06/12</time>
</address>
<blockquote>我们必须步伐一致、前仆后继地朝着死亡的牢狱奔去。无法逃脱，天气也不会变。——亨利·米勒</blockquote>
<h2>北回归线的，起点？</h2>
<h3>摘自《北回归线》，袁洪庚译本</h3>
<p>那么这一本书呢？这一本不算是书，它是对人格的污蔑、诽谤、中伤。就“书”的一般意义来讲，这不是一本书。不，这是无休止的亵渎，是啐在艺术脸上的一口唾沫，是向上帝、人类、命运、时间、爱情、美等一切事物的裤裆里踹上的一脚。我将为你歌唱，纵使走调我也要唱。我要在你哀号时歌唱，我要在你肮脏的尸体上跳舞……</p>
<p>若要歌唱你必须先张开嘴，你必须有一对肺叶和一点儿乐理知识。有没有手风琴或吉他均无所谓，要紧的是有想要唱歌的愿望。那么，这儿便是一首歌，我正在歌唱。我是唱给你的，塔尼亚。</p>
<h3>他笔下的女人</h3>
<p>我从酣睡中醒来望着她，这时一缕微弱的光线透进来，我望着她美丽的蓬乱头发，觉得有样东西顺着她的脖子爬下来。我又凑近看着她，她的头发在动。我扯开床单，看到更多的臭虫，它们在枕头上排成一大片。</p>
<p>莫娜饿了，而且她的衣服很单薄。除了晚礼服、香水、俗气的耳环、手镯和脱毛剂，她什么也没有。我们在梅园大道上一家弹子房中坐下要了热咖啡。卫生间坏了。我们得坐一阵子才能去另一家旅馆，这时我们互相拣去了对方头发里的臭虫。莫娜紧张不安，所以发起脾气来。非得洗个澡，非得干这，非得干那。非得、非得……</p>
<p>“你还剩下多少钱？”</p>
<p>钱！全忘掉了。</p>
<p>美国饭店。那儿有部电梯。</p>
<p>我们在大白天便上床睡觉了。待我们起来时天色已黑，这时要做的头一件事便士凑足往美国打一份电报的钱。电报就打给那个嘴里叼着长长的、有味道的雪茄的胎儿。还要去拉斯帕伊林荫道找那个西班牙女人，做顿热饭是她的拿手好戏。天一亮便会发生什么事的。至少我们可以一起上床了。再也没有臭虫了。雨季已开始。床单干净极了……</p>
<figure>
    <img src="images/template10/image.jpg">
    <figcaption>“为什么所有女人都要大谈特谈爱情，你能告诉我吗？显然她们是觉得你和她好好睡一觉还不够，她们还要你的灵魂。”<br></figcaption>
</figure>
<h3>他的创作信念：</h3>
<ul>
    <li>如果我们不时读到探究真理的书，我们就知道那些文字是那个被压趴下的人写的，他唯一的抵抗就是付诸文字了，而他的文字总比世界上撒谎压人的力量更有力，比胆小鬼们发明的要压垮人格之奇迹的邢台和刑车更有力。如果哪个人敢于直抒胸臆、秉笔直书他的真实经历，真正的真实，那么我想世界将毁灭、将被吹成碎片，没有神、变故和意志能重新弥合起那些失去的碎片、原子和不可摧毁的要素以再造一个世界。</li>
    <li>迄今为止，我的符合自己心愿的想法一直是要摆脱文学的金本位制。简单他讲，我是想展现情感的再生，描写一个人处于最艰深的思考时的行动，就是说，在他处于谵狂状态中的行为。我要刻画一个苏格拉底之前的人物，一个半是色鬼半是巨人的生灵。简而言之，我要在肚脐的基础上建立一个世界，而不是在钉在十字架上的一个抽象观念上。</li>
    <li>我曾一度认为做到有人情味是一个人可望达到的最高目标，可我现在明白这意味着要毁掉自己。如今我骄傲地说自己没有人味，我不属于其他任何人和政府，任何信条和原则都同我没有任何关系。我与人性这部吱吱作响的机器毫无关联，我是属于地球的。</li>
    <li>我曾跟自己订立了一个无言的契约：写过的东西不再改动一行。我对完善自己的思想或行动并无兴趣，我把陀思妥耶夫斯基的完美与屠格涅夫的完美等量齐观。于是，在同一个环境中，我们有了两类完美。然而在凡高的信中还提到了一种超出这两类完美的完美，这便是个人战胜了艺术。</li>
</ul>
<hr>
<h2>情人眼中的他</h2>
<h3>阿娜依斯·宁为北回归线所做的序</h3>
<p>在为《北回归线》所作的序中说道：“在这个因内省而濒于瘫痪、因享用精美的思想之盛宴而便秘的世界上，这一番对客观实在的野蛮暴露像一股赋予人勃勃生机的热血汹涌而来。暴力和淫秽的东西完全保留下来，体现出伴随着创造性行为而来的神秘与痛苦。”我们这个世界的悲剧就在于再也没有什么东西能使它从昏睡中醒来。人们不再做噩梦、不再心情振奋、不再觉醒。每个人都微笑着彬彬有礼的时代真的是那个关于天下大同美梦的实现么？“他们所处的世界同每一个地方一样，发生的事情多半是屎尿垃圾，同任何一个垃圾桶一样脏，只是他们能有幸盖上桶盖。”真相是残忍而刻薄的，而执意要说出真相的人在对世界绝望的同时也把自己推入了万劫不复的痛苦深渊。“我感到了如在杵臼中被捣碎的苦痛，感到了掩面痛哭的悲痛。在时间的子午线上毫无正义可言，只有创造了真实和戏剧幻觉的行动诗篇”搔吧搔吧，把自己搔死吧，你这自作自受的疯子，你必须为你的脆弱和坦率付出代价。</p>
<h3>亨利·米勒的五个情人：</h3>
<ol>
    <li>约阿尼纳·雷布查</li>
    <li>阿娜伊斯·宁</li>
    <li>伊娃·麦克鲁尔</li>
    <li>约阿尼纳·雷布查</li>
    <li>布伦达·维纳斯</li>
</ol>
</body>
</html>