<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no"/>
<link href="css/template07.css" rel="stylesheet" type="text/css" media="screen">
<script type="text/javascript" id="headscript">
window.onload=function(){
	var body = document.querySelectorAll("body")[0];
	var content = document.createElement('div');
		content.className = 'container';
		content.innerHTML = body.innerHTML;
		body.innerHTML = '';
		body.appendChild(content);
		document.querySelector("#headscript").remove();
}
</script>
<title>现代经典</title>
</head>
<body>
<header>
<img src="images/template07/header.jpg" scale="0.56">
</header>
<h1>摸彩</h1>
<address>
    <img src="images/template07/logo300x300.png">
    <h6>字里行间</h6>
    <time data-format="yy/MM/dd">16/06/23</time>
</address>
<blockquote>来自哥特小说女王雪莉·杰克逊的成名代表作，现代文学史上著名的短篇经典小说，在一个风和日丽的早晨，一个田园牧歌般的小镇，你且看，一群麻木如蛆的人上演的20世纪最惊悚的正义仪式……</blockquote>
<p>雪莉·杰克逊其他作品</p>
<ul>
    <li>山上闹鬼的房子</li>
    <li>我们一直住在城堡里</li>
    <li>就像妈妈以前做的</li>
</ul>
<h2>彩票</h2>
<h3>孙仲旭译</h3>
<p>6月27日的早晨晴朗无云，有着盛夏时节新鲜的温暖；花儿开得繁茂，草儿长得绿油油。十点钟左右，村里的人们开始在邮局和银行间的广场上聚集；有些城镇因为人太多，摸彩不得不花上两天，而且要在六月2日开始，但是在这个村子里，只有三百来人，摸彩的全程至多不会超过两小时，所以可以在早晨十点钟开始，并且仍能够让村民们准时回家吃上午饭。</p>
<p>……</p>
<figure>
    <img src="images/template07/image.jpg">
    <figcaption>孩子们堆砌了石堆，大人们也匆匆入场</figcaption>
</figure>
<p>…</p>
<hr>
<p>这次摸彩——就像广场舞会、少年俱乐部、万圣节前夕的节目——由夏莫斯先生主持。他有时间和精力来投身于市民的活动。</p>
<p>他是个圆脸、快活的男人，他经营煤炭生意，人们很可怜他，因为他没有孩子，妻子又是个那样的泼妇。当他带着黑木箱来到广场时，村民们窃窃私语起来，他挥挥手，喊道，“今天有点晚了，乡亲们。”邮政局局长格雷乌斯先生跟着他，拿着个三条腿的凳子，那凳子给放在广场中央，夏莫斯先生把黑箱放在上面。</p>
<p>…</p>
<ol>
    <li>注释：此为模板样文</li>
    <li>注释：原文请阅读《摸彩》</li>
</ol>
</body>
</html>