<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no"/>
<link href="css/template08.css" rel="stylesheet" type="text/css" media="screen">
<script type="text/javascript" id="headscript">
window.onload=function(){
	var body =	document.querySelectorAll("body")[0];
	var content = document.createElement('div');
		content.className = 'container';
		content.innerHTML = body.innerHTML;
		body.innerHTML = '';
		body.appendChild(content);
		document.querySelector("#headscript").remove();
}
</script>
<title>惬读</title>
</head>
<body>
<header>
  <img src="images/template08/header.jpg">
</header>
<h1>荒原</h1>
<blockquote>T·S艾略特，1948年诺贝尔文学奖获得者，《荒原》是诗人在一战时期悲观怀疑的精神世界的代表之作，建立了他在现代派诗歌的先驱地位。以下节选了荒原的第一节，裘小龙译。</blockquote>
<h2>荒原</h2>
<ul>
    <li>死者葬仪</li>
    <li>弈棋</li>
    <li>火的布道</li>
    <li>水里的死亡</li>
    <li>雷霆所说的</li>
</ul>
<h3>题记</h3>
<p>因为我亲眼见到大名鼎鼎的古米的西比尔1吊在一只瓶子里，孩子们问她，“西比尔，你要什么，”她回答说：“我要死。”</p>
<ol>
    <li>西比尔是希腊神话的人物，她被阿波罗赐予了永生，却忘了索取永恒的青春，日渐憔悴缩成了空壳却求死不得。</li>
</ol>
<figure>
    <img src="images/template08/image.jpg">
    <figcaption>米开朗基罗笔下的西比尔，被完全男性化的女巨人</figcaption>
</figure>
<h3>一 死者葬仪</h3>
<p>四月是最残忍的月份，哺育着</p>
<p>丁香，在死去的土地里，混合着</p>
<p>记忆和欲望，拨动着</p>
<p>沉闷的根芽，在一阵阵春雨里。</p>
<p>冬天使我们暖和，遮盖着</p>
<p>大地在健忘的雪里，喂养着</p>
<p>一个小小的生命，在干枯的球茎里</p>
<p>…</p>
<p>（模板样文，原文请阅读《四个四重奏》）</p>
<address>    </address>
</body>
</html>