<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no"/>
<link href="css/template05.css" rel="stylesheet" type="text/css" media="screen">
<title>青磨朱砂</title>
</head>
<body>
<h1>庄子·逍遥游</h1>
<address>
    <h6>字里行间</h6>
    <time data-format="中M月d日">陆月贰拾叁日</time>
    <span>著</span>
</address>
<blockquote>朝菌不知晦朔，蟪蛄不知春秋<br></blockquote>
<h2>逍遥游</h2>
<h3>（摘选）</h3>
<p>北冥有鱼，其名为鲲。鲲之大，不知其几千里也。化而为鸟，其名为鹏。鹏之背，不知其几千里也。怒而飞，其翼若垂天之云。是鸟也 ，海运则将徙于南冥。南冥者，天池也。</p>
<p>《齐谐》1者，志怪者也。《谐》之言曰：“鹏之徙于南冥也，水击三千里，抟扶摇2而上者九万里，去以六月息者也。”野马也，尘埃也 ，生物之以息相吹也。天之苍苍，其正色邪？其远而无所至极邪？其视下也，亦若是则已矣。</p>
<p>且夫水之积也不厚，则其负大舟也无力。复杯水于坳堂之上，则芥为之舟。置杯焉则胶，水浅而舟大也。风之积也不厚，则其负大翼也无力。故九万里则风斯在下矣，而后乃今培风；背负青天而莫之夭阏者，而后乃今将图南。</p>
<p>蜩3与学鸠4笑之曰：“我决起而飞，抢榆枋5，时则不至而控于地而已矣，奚以之九万里而南为？”适莽苍者，三餐而反，腹犹果然；适百里者，宿舂粮；适千里者，三月聚粮。之二虫又何知！</p>
<p>小知不及大知，小年不及大年。奚以知其然也？朝菌6不知晦朔7，蟪蛄不知春秋，此小年也。…（模板样文，有所截取）</p>
<hr>
<ol>
    <li>《齐谐》：志怪小说集。</li>
    <li>扶摇：旋风。</li>
    <li>蜩：蝉。</li>
    <li>学鸠：斑鸠。</li>
    <li>榆枋：泛指树木。</li>
    <li>朝菌：一种朝生暮死的菌类。</li>
    <li>晦朔：</li>
</ol>
<ul>
    <li>晦，每月最后一天。</li>
    <li>朔，每月的第一天。</li>
</ul>
<figure>
   <img src="images/template05/image.jpg">
    <figcaption>图片源自互联网民间国画艺术家</figcaption>
</figure>
</body>
</html>