<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no"/>
<link href="css/template09.css" rel="stylesheet" type="text/css" media="screen">
<title>赤红墨黑</title>
</head>
<body>
	<header><img src="images/template09/header.jpg" scale="0.67"></header>
    <h1>我们对于学生的希望</h1>
	<address>
	    <h6>By 字里行间</h6>
	    <time data-format="yy/MM/dd">16/06/23</time>
	</address>
    <blockquote>胡适著<br>原载1920年5月4日《晨报副刊》，以下为自拟标题和编选节段</blockquote>
    <h2>对学生运动的观察</h2>
    <h3>学运的贡献</h3>
    <p>这一年的学生运动，从远大的观点看起来，自然是几十年来的一件大事。从这里面发出来的好效果，自然也不少：引起学生的自动的精神，是一件；引起学生对于社会国家的兴趣，是二件；引出学生的作文演说的能力、组织的能力、办事的能力，是三件；使学生增加团体生活的经验，是四件；引起许多学生求知识的欲望，是五件；这都是旧日的课堂生活所不能产生的。我们不能不认为学生运动的重要贡献。</p>
    <h3>学运的损失</h3>
    <p>但是我们不要忘记，这种运动是非常的事，是变态的社会里不得已的事。荒唐的中年老年人闹下了乱子，却要未成年的学生抛弃学业，荒废光阴，来干涉纠正，这是天下最不经济的事。但我们看来，用罢课作武器，还有精神上的很大损失：</p>
    <ul>
        <li>养成倚赖群众的恶心理。</li>
        <li>养成逃学的恶习惯。</li>
        <li>养成无意识的行为的恶习惯。</li>
    </ul>
    <p>以上说的是我们对于现在学生运动的观察。</p>
    <figure>
        <img src="images/template09/image.jpg">
        <figcaption>图为新文化运动，胡适，与陈独秀、李大钊、鲁迅等同为新文化运动的领袖</figcaption>
    </figure>
    <h2>对学生的希望</h2>
    <h3>学问的生活</h3>
    <p>我们希望学生“无论中学、大学”都能注重下列的几项细目。</p>
    <ol>
        <li>注重外国文。</li>
        <li>注重观察事实与调查事实。</li>
        <li>建设的促进学校的改良。</li>
        <li>注重自修。</li>
    </ol>
    <p>…</p>
    <p>（模板样文，有所裁切）</p>
    <hr>
</body>
</html>