<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no"/>
<link href="css/spring.css" rel="stylesheet" type="text/css" media="screen">
<title>白雪公主和七个小矮人</title>
<script src="./js/spring.js"></script>
</head>
<body>
<h1>白雪公主和七个小矮人</h1>
<address>
	<img src="./images/spring/headImg.png"/>
	<h6>Nano</h6>
	<time data-format="yy/MM/dd">17/1/25</time>
</address>    
<p>她抬头向窗外望去，一不留神，针刺进了她的手指，红红的鲜血从针口流了出来，有三点血滴落在飘进窗子的雪花上。她若有所思地凝视着点缀在白雪上的鲜红血滴，又看了看乌木窗台，说道：“但愿我小女儿的皮肤长得白里透红，看起来就像这洁白的雪和鲜红的血一样，那么艳丽，那么骄嫩，头发长得就像这窗子的乌木一般又黑又亮！”</p>
<h2>开始讲故事了哟</h2>
<p>她抬头向窗外望去，一不留神，针刺进了她的手指，红红的鲜血从针口流了出来，有三点血滴落在飘进窗子的雪花上。</p>
<h3>第一章</h3>
<p>她的小女儿渐渐长大了，小姑娘长得水灵灵的，真是人见人爱，美丽动人。她的皮肤真的就像雪一样的白嫩，又透着血一样的红润，头发像乌木一样的黑亮。所以王后给她取了个名字，叫白雪公主。但白雪公主还没有长大，她的王后妈妈就死去了。</p>
<hr>
<p>不久，国王爸爸又娶了一个妻子。这个王后长得非常漂亮，但她很骄傲自负，嫉妒心极强，只要听说有人比她漂亮，她都不能忍受。她有一块魔镜，她经常走到镜子面前自我欣赏，并问道：</p>
<blockquote>告诉我，镜子，告诉我实话！ 这儿所有的女人谁最漂亮 告诉我她是谁</blockquote>
<p>镜子回答道：“是你，王后！你就是这儿最漂亮的女人。”听到这样的话，她就会满意地笑起来。但白雪公主慢慢地长大，并出落得越来越标致漂亮了。到了七岁时，她长得比明媚的春光还要艳丽夺目，比王后更美丽动人。</p>
<h3>第二章</h3>
<ul>
	<li>她的小女儿渐渐长大了</li>
	<li>王后，你是美丽漂亮的，但是白雪公主要比你更加漂亮！</li>
	<li>她的小女儿渐渐长大了</li>
</ul>
<figure>
	<img src="./images/spring/demo.jpg" alt="">
	<figcaption>摄于浙江美术馆</figcaption>
</figure>
<hr>
</body>
</html>